.main-container{
    display: flex;
    .side-nav{
        width: 100px;
        min-width: 230px;
        min-height: calc(100vh - 70px);
        background-color: #e6ebf0;
        color: rgb(32, 31, 31);
        box-shadow: 5px 5px 5px #978383;
      
        @media only screen and (max-width: 1300px){
            width: 100px;
            min-width: 100px;
        }
    }
    .main{
        padding: 30px;
    }
}